body {
    width: 800px; 
    margin: 0 auto;

}

a:link {color: #FFFFFF; text-decoration: none}

a:visited {color: #808080; text-decoration: none}

a:hover {color: red; text-decoration: none}

h1 {
    color: red;
    align: center;
}
h2 {
    color: green;
    align: right;
}