<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="products_style.css" rel="stylesheet">

</head>
 
<body>
  <table border="2">
    <tbody>
      <tr>
        <th style="text-align: center;" width="43%">Model</th>
        <th style="text-align: center;" width="11%">Quantity</th>
        <th style="text-align: center;" width="13%">Price</th>
        <th style="text-align: center;" width="54%">Extended price</th>
      </tr>
        ${display_invoice_table_rows(POST)}
      <tr>
        <td colspan="4" width="100%">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="3" width="67%">Sub-total</td>
        <td style="text-align: right;" width="54%">$  ${subtotal.toFixed(2)} </td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="3" width="67%"><span style="font-family: arial;">Tax @
            ${(100 * tax_rate)}%</span></td>
        <td style="text-align: right;" width="54%">\$${tax.toFixed(2)}</td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="3" width="67%">Shipping</span></td>
        <td style="text-align: right;" width="54%">\$${shipping.toFixed(2)}</td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="3" width="67%"><strong>Total</strong></td>
        <td style="text-align: right;" width="54%"><strong>\$${total.toFixed(2)}</strong></td>
      </tr>
    </tbody>
  </table>
  <div>
    <br><Font size="+1">
      SHIPPING POLICY: A subtotal $0 - $49.99 will be $2 shipping.
      A subtotal $50 - $99.99 will be $5 shipping.
      Subtotals over $100 will be charged 5% of the subtotal amount
    </font> </div>
</body>

</html>
